@tailwind base;
@tailwind components;
@tailwind utilities;

@media (min-width: 900px) and (max-width: 1400px) {
  .popup_position {
    bottom: 5em !important;
  }
}

@media (min-width: 1400px) and (max-width: 5000px) {
  .sidebar_bottom_section {
    position: absolute;
    bottom: 1rem;
  }
  .popup_position {
    bottom: 6em !important;
  }
}

.sidebar_bottom_section {
  margin-left: 0;
}
